body {
	margin: 0;
	color: #151b58;
	background-color: #eaeaea;
	overflow-y: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

body::-webkit-scrollbar {
  display: none;
}


.btn {
	background: transparent;
	border: none;
	border-radius: 3px;
	font-size: large;
}

.btn:hover {
	background-color: grey;
}

.activeBtn {
	border-bottom-style: solid;
	border-width: 2px;
	border-color: grey;
}

p {
	max-width: 80vw;
}