.wave {
	transform: scaleX(-1);
	margin-top: -5px;
	z-index: 300;
}

.band {
	padding: 0 5%;
	width: 70%;
	background-color: #eaeaea;
}

.block {
	background-color: #eaeaea;
}

.blockWrapperLeft {
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.blockWrapperRight {
	height: 100%;
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#hackathon {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 600;
	background-color: white;
	margin-top: -50px;
	padding-bottom: 5vh;
}

#incluInfo {
	width: 100%;
	height: 35vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#inclulink {
	display: flex;
	flex-direction: row;
	text-decoration: none;
}

#inclulink:hover #arrow {
	margin-left: 2vw;
}

#arrow {
	margin-left: 1vw;
	height: 15px;
	width: 15px;
}

#incluImg {
	width: 100%;
	margin-top: 10px;
}

.incluScreen {
	margin: 25px 0;
	height: 35vh;
	width: 100%;
}

.incluScreen img {
	width: 50%;
	height: 90%;
	font-size: 1.5vw;
}

.incluScreen p {
	height: 90%;
	margin: 0 5%;
}

#firstScreen {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#secondScreen {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#reward {
	margin: 0px 0px 15px;
	font-style: italic;
}

h3 {
	margin-bottom: 0;
}

.bob {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
}
